.logo {
      text-align: center;
    }
.logo img {
     max-width: 100px;
      height: auto;
}

    /* CSS styles for the header */
    .header {
      text-align: center;
    }

    /* CSS styles for the button */
    .button {
      text-align: center;
      margin-top: 20px;
    }
    
    .button a {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
    }

    p {
        text-indent: 20px;
    }